---
title: "The Website Weekly Newsletter"
preheader: "👀 Lorem, ipsum, and much dolor in this week's edition."
image: https://images.unsplash.com/photo-1565932887479-b18108f07ffd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1200&q=80
bodyClass: bg-slate-50
---

<x-main>
  <div class=" sm:px-4 font-sans bg-white">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full">
          <table class="w-full">
            <tr>
              <td class="sm:px-6 text-center">
                <a href="https://maizzle.com">
                  <img src="images/Mainbanner.jpg" width="100%" alt="Maizzle">
                </a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr class="max-w-full">
        <td class="w-[600px] max-w-full">
          <table class="w-full pb-6">
            <tr>
              <td class="text-center font-sans font-bold text-2xl pt-8">
                CONGRATULATION, SETVANI FELICIA!
              </td>
            </tr>
            <tr>
              <td class="text-center font-sans font-normal text-lg pt-2">
                Role: Software Developer
              </td>
            </tr>
          </table>
          <table class="w-[600px] border-orange-400 border-solid border-1 rounded-md max-w-full">
            <tr class="float-left">
              <td class="pt-3" rowspan="3">
                <img src="/images/offer-icon.jpg" class="w-20" />
              </td>
              <td class="font-sans font-black align-top pt-3 pl-5">
                THE OFFER
              </td>
            </tr>
            <tr >
              <td class="pt-3">
                Gross Salary
              </td>
              <td class="pt-3">
                Take home pay (Allowance included)
              </td>
            </tr>
            <tr >
              <td class="font-sans font-black align-top pt-3 pl-5 text-orange-400">
                Rp. 17.000.000<small>/Month</small>
              </td>
              <td class="font-sans font-black align-top pt-3 pl-5 text-orange-400">
                Rp. 17.000.000<small>/Month</small>
              </td>
            </tr>
            <tr class="">
              <td class="font-sans font-black align-top pl-6 text-lg pb-0">
                Catatan
              </td>
            </tr>
            <tr class="">
              <td class="font-sans font-bold align-top pl-6 text-lg">
                <ul class="pt-0 m-0 border-0">
                  <li>test</li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
